<body>
  <div id="view-form">
    <form action="/users/reset-password" method="post" id="reset-passwoed-form">
      <input
        type="password"
        name="password"
        placeholder="Enter your new Password"
        required
      />
      <input type="hidden" name="userId" value="<%=user_id%>" />
      <button type="submit" id="btn">Update Password</button>
    </form>
  </div>
</body>
